<div class="container">

    <div class="row mt-3">

      <h4 class="jumbotron bg-light py-1 col-sm ml-auto text-center">{{ title }}</h4>
      <div class="col-lg-3 col-md-4 col-sm-6 mr-auto">
        <input class="form-control mr-sm-2"
               [(ngModel)]="searchVal"
               (ngModelChange)="search($event)" 
               type="search" 
               name="searchVal" 
               placeholder="Search" 
               aria-label="Search">
      </div>
    </div>
  
  <table class="table jumbotron col-lg-6 col-md-9 mx-auto text-center">
    <thead class="thead-dark jumbotron">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of filter">
        <th scope="row">{{ pet.name }}</th>
        <td>{{ pet.type }}</td>
        <td>
          <a routerLink="/pets/{{ pet._id }}" class="far fa-eye btn btn-lg btn-link text-secondary"></a>
          <a routerLink="/pets/{{ pet._id }}/edit" class="far fa-edit btn btn-lg btn-link text-warning"></a>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>
